.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head {
    width: 100%;
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: blueviolet;
}

.logoMsg {
    font-size: 1.5rem;
    padding-top: 1rem;
    color: #202020;
}

.main {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1rem;
    gap: 2rem;
    align-items: center;
}