.layout {
    width: 100%;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50%;
    height: 25rem;
    background-color: rgb(255, 252, 245);
    border-radius: 1rem;
    padding: 2rem;
}